

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    font-family: "Open Sans", sans-serif;
    background-color: #f8fafc;
    color: #002c5c;
}

h1{
    font-size: 3rem;
    font-weight: 800;
}

h4{
    font-size: 20px;
    font-weight: 700;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}



/* Custom CSS */
header{
    margin-top: 60px;
}
.count-boxes{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.count-box{
    width: 32%;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #313a49;
    border: 0px;
    border-radius: 16px;
    padding: 12px 24px;
    box-shadow: 0 8px 16px 0 rgba(0, 44, 92,0.1);
}

.count-1, .count-2, .count-3{
    font-size: 28px;
    font-weight: 700;
    margin-top: 4px;
}
.count-1{
    color: #002c5c;
}
.count-2{
    color: #26bf8c;
}
.count-3{
    color: #ef4b4b;
}


/* available-jobs */

.available-jobs{
    margin-top: 32px;
}

h3{
    font-size: 24px;
    font-weight: 700;
}
.btns{
    display: flex;
    gap: 24px;
    margin: 24px 0px;
}
.btn{
    display: inline-block;
    background-color: #fff;
    color: #64748b;
    font-weight: 600;
    padding: 8px 32px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 44, 92,0.1);
}

.btn:active{
    background-color: #3b82f6;
    color: #fff;
}


/* Job-cards */

.card{
    background-color: #fff;
    padding: 24px;
    color: #64748b;
    margin: 24px 0px;
}

.card h3,p{
    color: #002c5c;
}
.card p small{
    color: #64748b;
}

.card-btn{
    display: flex;
    gap: 24px;
}
.interviewed{
    color: #26bf8c;
    padding: 8px 16px;
    border: 2px solid #26bf8c;
    border-radius: 8px;
    text-transform: uppercase;
}

.interviewed:active{
    background-color: #26bf8c;
    color: #fff;
}

.rejected{
    color: #ef4b4b;
    padding: 8px 16px;
    border: 2px solid #ef4b4b;
    border-radius: 8px;
    text-transform: uppercase;
}
.rejected:active{
    background-color: #ef4b4b;
    color: #fff;
}